<%- include('partials/header') %>

<div class="row">
    <div class="col">
        <h1>Bienvenue !</h1>
        <%- content %>
        <p><a href="/add-user">Ajouter un utilisateur</a></p>
        <p><a href="/users">Lister les utilisateurs</a></p>
    </div>
</div>

<%- include('partials/footer') %>