<%- include('../partials/header') %>

<div class="row">
    <div class="col">
        <h1>Dashboard</h1>
        <p><a href="/">Aller sur la page d'accueil</a></p>
        <%- include('user_card') %>

    </div>
</div>

<%- include('../partials/footer') %>