<%- include('../partials/header') %>

<div class="row">
    <div class="col">

<h1>Ajouter un utilisateur</h1>

<form action="/add-user" method="post">
    <p>
        <label for="name">nom</label>
        <input type="text" id="name" name="name" value=""/>
    </p>

    <p>
        <label for="login">login</label>
        <input type="text" id="login" name="login" value=""/>
    </p>

    <p>
        <label for="password">Mot de passe</label>
        <input type="text" id="password" name="password" value=""/>
    </p>

    <p>
        <label for="avatar">Avatar</label>
        <input type="text" id="avatar" name="avatar" value=""/>
    </p>
    <p><input type="submit" value="Enregistrer"/></p>
</form>

    </div>
</div>
<%- include('../partials/footer') %>
