<%- include('../partials/header') %>

<div class="row">
    <div class="col">
        <h1>Liste des utilisateurs</h1>
        <p><a href="/">Aller sur la page d'accueil</a></p>

        <div class="cards">
            <% for(const user of users) {%>
                <%# pour passer le nom et l'image au template inclus lorsque ces données n'ont pas été envoyées via le "render", il faut les spécifier au niveau de l'inclusion %>
                <%- include('user_card', {name: user.name, image: user.image}) %>
            <% }%>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>