<div class="card text-center">
    <h5 class="card-header"><%= name %></h5>
    <p class="card-body">
        <img src="<%= image %>" alt="avatar">
    </p>
    <div class="card-footer">
        <% if(!locals.users ) { %>
            <p><a href="/logout">Se déconnecter</a></p>
        <% } %>
    </div>
</div>

