<%- include('../partials/header') %>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Connexion</h1>
                <%- messageErrorAuthentication %>
                <form action="/authentication" method="post">
                    <p>
                        <label for="login">Login: </label>
                        <input type="text" id="login" name="login" value="" />
                    </p>
                    <p>
                        <label for="pass">Mot de passe: </label>
                        <input type="password" id="pass" name="password" value="" />
                    </p>
                    <p><input type="submit" value="demande de connexion" /></p>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>