<%- include('../partials/header') %>

<div class="row">
    <div class="col">
        <h1>Dashboard</h1>
        <p><a href="/">Aller sur la page d'accueil</a></p>
        <div class="card text-center">
            <h5 class="card-header"><%= name %></h5>
            <p class="card-body">
                <img src=<%= image %> alt="avatar">
            </p>
            <div class="card-footer">
                <p><a href="/logout">Se déconnecter</a></p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>